# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Virtual environment
venv/
.env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# macOS-specific files
.DS_Store

# Editor files
.vscode/
.idea/
*.swp

# Alembic migrations
migrations/
versions/
